.input-container-outer {
  min-width: 50%;
  max-width: 50%;
  // border: 5px solid brown;
}

.input-container-inner {
  box-sizing: border-box;
  height: 100%;
  background-color: $nord-primary;
  // border: 5px solid pink;
  // overflow-y: hidden;
}
