.output-container-outer {
  border-left: 0.2rem solid rgb(238, 238, 238);
  flex-grow: 1;
  max-width: 50%;
}

.output-container-inner {
  border: 1px solid rgb(235, 235, 235);
  overflow-y: hidden;
}

.output-container-inner:first-of-type {
  border-top: 0;
}
