// .run-btn {
//   height: 3rem;
//   width: 3rem;
//   margin: 0.5rem;
//   border-radius: 50%;
//   border: 0;
//   color: white;
//   background-color: steelblue;
//   box-shadow: 0.75px 0.75px 0.75px 0.75px lightgray;
//   cursor: pointer;
//   transition: background-color 150ms;
// }

.send-btn {
  cursor: pointer;
  color: $text-black;
  padding: 0.5rem 0;
  width: 5rem;
  margin: 0.5rem;
  border: 0.5px solid darkgray;
  border-radius: 0.4rem;
  font-size: 1rem;
  background-color: rgba(0, 0, 0, 0.03);
  box-shadow: 0.8px 0.8px 0.8px 0.8px rgb(200, 200, 200);
  transition: color 200ms, background-color 200ms;
}

.send-btn:hover {
  color: steelblue;
  background-color: lighten(rgba(212, 212, 212, 0.08), 45%);
}

.send-btn:active {
  box-shadow: 0px 0px 0px 0px;
  color: black;
  background-color: darken(rgba(212, 212, 212, 0.06), 50%);
  width: 4.95rem;
  box-shadow: 0;
}

.send-btn:focus {
  outline: none;
}
